.container {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: center;
    width: 307px;
}

.title {
    font-size: 30px;
    color: blue;
}

.app {
    width: 307px;
}

.goal {}

.hello {}

.number {}

.turns {}

.form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    row-gap: 50px;
}

.table {
    background-color: aqua;
}

.turnsList {}